*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 42, 42);
    color: white;
    padding-bottom: 15px;
}

.nav   img{
    width: 8%;
    background-color: rgb(48, 42, 42);
    margin-left: 32px;

}

section{
    background-image: "https://media.istockphoto.com/photos/taxi-on-city-street-picture-id1062201224?k=6&m=1062201224&s=170667a&w=0&h=TyBxMFSATLMfp6bwtjPtjuU3SH5cU4Vb-UMi1GZipfw=";
}

.nav .left{
    display: flex;

     
}

.nav .left ul li{
    
    display: inline-block;
    margin: 0 10px; 
    position: relative;
}

.nav .left ul li a{
    display: inline-block;
    text-decoration:none;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    color: #fff;
    gap: 0rem;
}

.nav .left ul li::after{
    content: '';
    height: 2px;
    width: 0%;
    background: black;
    position: absolute;
    display: block;
    transition: 0.5 ;
  
}

.nav .left ul li:hover::after{
    width: 100%;
}





.box-conatiner{  
    width: 100%;  
    max-width: 1440px;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    flex-flow: wrap;  
    
}  
.box{  
    width: 269px;  
    padding: 15px;  
    min-height: 430px;  
}  
.box1{  
    background-color:rgb(81, 71, 71) ;  
    border-top-left-radius: 10px;  
    border-bottom-left-radius: 10px;  
}  
.box2{  
    background-color: burlywood;  
}  
.box3{  
    background-color: rgb(81, 71, 71);  
    border-top-right-radius: 10px;  
    border-bottom-right-radius: 10px;  
}  

.left p{
    margin-inline: 22px;
    margin-top: 14px;
     

}
.nav .right{
    display:flex;
    padding-left: 500px;
}
.right p{
    margin-inline: 22px;
    margin-top: 11px;
}
.right  i{
color: white;
margin-top: 11px;
font-size: 20px;
}
.right button{
    width: 80px;
    height: 36px;
    background-color: #fff;
    color: black;
    border-radius: 21px;
    font-weight: 600;
    margin-top: 3px;
    .login_form button{
        margin: 45px 0 30px 0;
        height: 45px;
        width: 365px;
        font-size: 20px;
        color: white;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        background: black;
        border-radius: 3px;
        border: 1px solid #3949AB;
        transition: .5s;
    }
    .login_form button:hover{
        background: black;
    }
    .login_form #email_error,
    .login_form #pass_error{
        margin-top: 5px;
        width: 345px;
        font-size: 18px;
        color: #C62828;
        background: rgba(255,0,0,0.1);
        text-align: center;
        padding: 5px 8px;
        border-radius: 3px;
        border: 1px solid #EF9A9A;
        display: none;
    }
}
 
.right button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.main{
    background-image: url('https://s1.1zoom.me/b5064/647/Taxi_Cars_USA_Street_New_York_City_Manhattan_514742_3840x2160.jpg');
     background-size: cover;
     background-repeat: no-repeat;
    height: 600px;
    
     
    

   
}

.align{
    align-items: center;
}
.card{
    width: 420px;
    height: 400px;
    background-color: burlywood;
     /* padding: 111px; */
     margin-left: 22px;
   
      
}
 
.card .ride {
    display: flex;
   border-bottom: 1px solid rgb(197, 196, 196);
  
   text-align: center;

}
.ride .car{
    margin-inline: 183px;
    margin-top: 12px; 
    border-bottom: 4px solid rgb(184, 135, 135);
    padding: 7px;
    margin-left: 42px;

 
}
.card .ride i{
    font-size: 25px;
}
.card h1{
   padding: 25px;
    margin-left: 33px;

}
.card input{
    margin-top: 7px;
    margin-left: 55px;
    width: 330px;
    height: 30px;
    background-color: rgb(245, 245, 245);
    border: none;
    outline: none;
    padding: 8px;
}
.card .btn{
    display: flex;
    margin-left: 44px;
    margin-top: 33px;
}
.card .btn .req{
    margin-inline: 11px;
    width: 150px;
    height: 45px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 5px;
     

}
.btn button{
    margin-inline: 11px;
    width: 150px;
    height: 45px;
    border: none;
    background-color:black;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.5s;
}


.uber-ride h1{
    font-size: 40px;
    padding: 32px;
    
}
.uber-ride .go{
    display: flex;
  justify-content:center ;
    justify-content: space-around;
}
.uber-ride .go .auto{
    display: flex;
    padding:22px ;
}
.uber-ride .go .auto img{
    margin-inline: 22px;
     width: 43%;
}
.uber-ride .go .auto h3{
    margin-top: 25px;
}
.head h1{
    padding: 33px;
    font-size: 35px;
}
.cards {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: white;
}

.down h1{
    padding: 33px;
    font-size: 33px;
    color: white;
}

.down{
    background-color: black;
    margin-top: 22px;
    
}
.down .lode{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    padding: 33px;
}

.footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: black;
    padding: 44px;
    margin-top: 33px;
    color: white;
 }


 .ddd h1{
    font-size: 33px;
    padding-left: 50px;
 }


