
body{
	margin: 0;
	padding: 0;
	height: 100vh; /* Set the body height to 100% of the viewport height */

	

	font-family: sans-serif;
	background-color: burlywood;
}



	
.bigcont{
	flex: 0 0 70%; /* Make the container take 70% of the available height */
	background-color: burlywood; /* Set a background color for visibility */
	 /* Push the container to the bottom */
	 /* Optional: Add padding for content inside the container */

	padding-left: 510px;
}
.container{

	position: relative;
	margin-top: 100px;
	width: 450px;
	height: auto;
	background: white;
	border-radius: 5px;
}
.label{
	padding: 20px 130px;
	font-size: 35px;
	font-weight: bold;
	color: #130f40;
}
.login_form{
	padding: 20px 40px;
}
.login_form .font{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}
.login_form .font2{
	margin-top: 30px;
}
.login_form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: black;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.login_form button:hover{
	background: black;
}
.login_form #email_error,
.login_form #pass_error{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}











.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 42, 42);
    color: white;
    
}





.nav .left{
    display: flex;

     
}

.nav .left ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px; 
    position: relative;
}

.nav .left ul li a{
    display: inline-block;
    text-decoration:none;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    color: #fff;
}

.nav .left ul li::after{
    content: '';
    height: 2px;
    width: 0%;
    background: black;
    position: absolute;
    display: block;
    transition: 0.5 ;
  
}

.nav .left ul li:hover::after{
    width: 100%;
}

button{
	
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
	margin-top: 21px;
}
button:hover{
    background:transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
